/* global rules */
:root {
    --main-color: #134989;
    --textBg: #4c9be9ad;
    --text-color: #f4ecec;
    --title-size: 3.5rem;
    --title-responsive: 2rem;
    --title-mobile: 1.5rem;
    --p-responsive: 1.2rem;
    --second-color: #f8a000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", sans-serif !important;
    scroll-behavior: smooth;
}

/* navbar */
.navbar {
    background-color: transparent !important;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
}

.logo {
    width: 70px !important;
}

.logo a img {
    max-width: 100%;
}

.nav-link {
    color: var(--main-color) !important;
    margin-left: 10px !important;
}

.nav-link:hover {
    color: var(--second-color) !important;
}

@media (min-width:768px) {

    .active {
        color: var(--second-color) !important;
        border-radius: 15px !important;
        height: 40px !important;
    }
}

.linkedin-icon {
    color: #0A66C2;
}

.x-icon {
    color: black;
}

.linkedin-icon:hover , .x-icon:hover {
    color: var(--second-color) !important;
}

.custom-toggler {
    padding: 0.25rem 0.5rem !important; 
    border: none !important; 
    outline: none !important; 
    box-shadow: none !important; 
    color: var(--main-color) !important;
    font-size: 15px !important;
}

.custom-toggler:focus {
    outline: none;
    box-shadow: none;
}

/* Custom styles for the responsive menu */
@media (max-width: 991.98px) {
    .navbar-collapse {
        position: fixed; 
        top: 0;
        right: 0;
        width: 50%; 
        height: 30vh; 
        background-color: #fff; 
        z-index: 999; 
        padding-top: 20px; 
        box-shadow: -3px 0 5px rgba(0, 0, 0, 0.2); 
        overflow-y: auto; 
        transform: translateX(100%); 
        transition: transform 0.3s ease-in-out; 
    }
    .navbar-collapse.show {
        transform: translateX(0); 
    }

    .navbar-toggler {
        z-index: 1000; 
    }
}


/* hero section */
.hero-section {
    height: 100vh;
}

.hero-content {
    margin-top: 4rem;
}

.hero-text {
    width: 60%;
    color: var(--main-color);
}

.hero-text h1 {
    font-size: var(--title-size);
}

.hero-p {
    font-size: 1.3rem;
    width: 90%;
}

.numbers h5 {
    color: var(--second-color);
}


.gradient-container {
    display: inline;
    color: var(--second-color);
}

.gradient-text1 {
    background: linear-gradient(45deg, #134989 10%, #f8a000 90%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.hero-btns a:first-of-type {
    all: unset;
    cursor: pointer;
    margin-right: 10px;
    background-image: linear-gradient(131deg, #ffd340, #ff923c, #ff923c, #f8a000);
    border-radius: 20px;
    color: var(--text-color);
    padding: 6px 20px;
}

/* .hero-btns a:hover {
    box-shadow: 0 0.5em 0.5em -0.4em #ff923cba;
    background-size: 100% 100%;
    transform: translateY(5em);
} */

.hero-btns a:last-of-type{
    all: unset;
    cursor: pointer;
    margin-right: 10px;
    color: var(--main-color);
}

.hero-btns button:hover {
    color: var(--second-color);
}

.hero-Img {
    width: 40%;
}

.image-container {
    position: relative;
    width: 400px;
    height: 400px;
    margin: auto;
}

.profile-image {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}


@media (max-width:1200px) {
    .image-container {
        width: 350px;
        height: 350px;
    }

    .hero-text h1 {
        font-size: 2.5rem;
    }

    .hero-p {
        font-size: var(--p-responsive);
    }
}

@media (max-width:900px) {
    .image-container {
        width: 300px;
        height: 300px;
    }

    .hero-text h1 {
        font-size: var(--title-responsive);
    }

    .hero-p {
        font-size: var(--p-responsive);
    }
}

@media (max-width:768px) {
    .hero-text {
        width: 100%;
    }

    .hero-text h1 {
        font-size: 3rem;
    }

    .hero-p {
        font-size: var(--p-responsive);
    }
}


@media (min-width:390px) and (max-width: 550px){
    .hero-text {
        width: 100%;
        text-align: center;
        padding: 0 20px;
    }
    .hero-text h1 {
        font-size: 2rem;
    }
    .hero-p {
        font-size: 1rem;
        width: 100%;
        margin: 20px 0;
    }
    .hero-section {
        height: 60vh;
    }
} 
@media (min-width:350px) and (max-width: 388px){
    .hero-text {
        width: 100%;
        text-align: center;
        padding: 0 20px;
    }
    .hero-text h1 {
        font-size: 2rem;
    }
    .hero-p {
        font-size: 1rem;
        width: 100%;
        margin: 20px 0;
    }
    .hero-section {
        height: 80vh;
    }
} 

/* about */

.about-section {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

.curve {
    width: 100%;
    height: 120vh;
    background: linear-gradient(to left, #134989, #74b6f5);
    border-radius: 120px;
    z-index: 100;
    transform: rotate(148deg);
    margin-top: -29.5%;
    overflow: hidden;
}

.about-content {
    position: absolute;
    top: 15%;
    left: 12%;
    z-index: 100;
    color: var(--text-color);
}

.about-content h2 {
    position: relative;
    font-size: var(--title-size);
    padding-bottom: 20px;

}

.about-content h2::after {
    content: '';
    bottom: 0;
    left: 0;
    width: 20%;
    height: 2px;
    position: absolute;
    background-color: var(--second-color);
    /* background-color: rgb(242, 242, 245); */
    margin-bottom: 10px;
}

.about-content p {
    width: 50%;
    font-size: 1.2rem;
}

@media(max-width:900px) {
    .about-section {
        height: 70vh;
    }

    .curve {
        width: 100%;
        height: 90vh;
        transform: rotate(148deg);
        margin-top: -35%;
    }

    .about-content {
        top: 7%;
        left: 15%;
    }

    h2 {
        font-size: var(--title-responsive);
    }

    .about-content p {
        width: 60%;
        font-size: 1rem;
    }

}

@media(max-width:700px) {
    .curve {
        transform: rotate(136deg);
        margin-top: -40%;
    }

    .about-content p {
        width: 85%;
    }

}

@media(max-width:600px) {
    .about-section {
        height: 60vh;
    }

    .curve {
        height: 70vh;
        width: 120%;
        margin-top: -40%;
    }

    .about-content h2 {
        padding-bottom: 5px;
    }

    .about-content h2::after {
        margin-bottom: 0;
        width: 40%;
    }

    .about-content p {
        width: 85%;
        font-size: 0.9rem;
    }

}

@media(max-width:500px) {
    .curve {
        transform: rotate(136deg);
        margin-top: -38%;
    }

    .about-content h2 {
        font-size: var(--title-responsive);
    }

    .about-content p {
        font-size: 0.8rem;
    }

}

/* service section */
.service-section {
    color: var(--main-color);
    padding-top: 5rem;
}

.service-section h2 {
    font-size: var(--title-size);
}


.service-card {
    transition: all 0.3s ease;
    position: relative;
    box-shadow: 5px;
    width: 260px;
}

.service-card::after {
    content: '';
    width: 100%;
    height: 4px;
    background-color: var(--main-color);
    position: absolute;
    left: 0;
    bottom: 0;
    transition: height 0.5s ease;
}

.service-card:hover::after {
    height: 100%;
    border-radius: 5px;
    z-index: -1;
}

.service-card:hover {
    color: var(--text-color);
}


.service-icon {
    font-size: 40px;
    color:var(--second-color);
    /* transition: height 0.10s ease; delay */ 
}


/* why choose us */

.why-choose-us {
    padding: 5rem 0;
}

.why-choose-us h2 {
    font-size: var(--title-size);
    color: var(--main-color);
}


.choose-p {
    color: var(--main-color);
    font-size: 1.2rem;
    margin: 1.2rem 0;
}


.arrow-icon i {
    font-size: 30px;
    color: var(--second-color);
}

.arrow-icon {
    margin-top: -40px;
}

@media(max-width:1200px) {

    .hex-container {
        justify-content: unset !important;
    }

}

@media(max-width:992px) {
    .why-choose-us h2 {
        font-size: var(--title-size);
        text-align: center;
    }

    .why-choose-us h2+p {
        font-size: 1.2rem;
        text-align: center;
        width: 90%;
        margin: 20px auto;
    }

    .hex-container {
        align-items: center !important;
        justify-content: space-between;
    }

    .third-arrow {
        display: none !important;
    }
}

@media(max-width:768px) {
    .why-choose-us h2 {
        font-size: var(--title-responsive);
        text-align: center;
    }

    .why-choose-us h2+p {
        font-size: 0.8rem;
        text-align: center;
        width: 90%;
        margin: 20px auto;
    }

    .hex-container {
        align-items: center !important;
        justify-content: center !important;
    }

    .sec-arrow {
        display: none !important;
    }

    .third-arrow {
        display: block !important;
    }
}

@media(max-width:600px) {
    .why-choose-us h2 {
        font-size: var(--title-responsive);
        text-align: center;
    }

    .why-choose-us h2+p {
        font-size: 0.8rem;
        text-align: center;
        width: 90%;
        margin: 20px auto;
    }

    .hex-container {
        flex-direction: column;
        align-items: center;
    }

    .arrow-icon {
        display: none !important;
    }

}

.hex-container {
    align-items: center !important;
    justify-content: space-between;
}

.hexagon-item {
    text-align: center;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: fit-content;
}

.hexagon-number:first-of-type,
.hexagon-number:last-of-type {
    min-height: 2em;
}

.hexagon-number:nth-of-type(2) {
    min-height: 2.5em;
    top: -10px;
}

.hexagon-number {
    position: absolute;
    top: -15px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1.5em;
    font-weight: bold;
    color: var(--second-color);
    background-color: white;
    width: 2.5em;
    height: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.hexagon-out {
    position: relative;
    width: 5.5em;
    height: 9.5em;
    background: transparent;
    border-radius: 1em /.3em;
    transform: rotate(30deg);
    border-top: 2px solid var(--main-color);
    border-bottom: 2px solid var(--main-color);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.hexagon-out::before,
.hexagon-out::after {
    content: '';
    position: absolute;
    width: inherit;
    height: inherit;
    border-radius: inherit;
    background: inherit;
    border-top: inherit;
    border-bottom: inherit;
}

.hexagon-out::before {
    transform: rotate(60deg);
}

.hexagon-out::after {
    transform: rotate(-60deg);
}

.hexagon {
    position: relative;
    width: 5em;
    height: 8.1em;
    background-color: var(--main-color);
    border-radius: 1em /.4em;
    transform: rotate(60deg);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.hexagon::before,
.hexagon::after {
    content: '';
    position: absolute;
    width: inherit;
    height: inherit;
    border-radius: inherit;
    background-color: inherit;
}

.hexagon::before {
    transform: rotate(60deg);
}

.hexagon::after {
    transform: rotate(-60deg);
}

.hexagon:hover {
    transform: translate(-0.5);
}

.hexagon-content {
    transform: rotate(-90deg);
    text-align: center;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.hexagon-description {
    margin-top: 15px;
    font-size: 0.9em;
    color: var(--main-color);
    max-width: 200px;
}


.choose-icon {
    font-size: 1.5em;
    margin-bottom: 0.5em;
}

p {
    margin: 0;
    font-size: 0.9em;
}


/* contact section */

/*
.btn.btn-primary {
    margin:20px 0;
    font-weight: bold;
    height: 2.5rem;
    line-height: 2.5rem;
    padding: 0 3rem;
    border: 0;
    border-radius: 3rem;
    background-image: linear-gradient(131deg, #ffd340, #ff923c, #ff923c, #ff923c);
    background-size: 300% 100%;
    transition: all 0.3s ease-in-out;
}

.btn.btn-primary:hover:enabled {
    box-shadow: 0 0.5em 0.5em -0.4em #ff923cba;
    background-size: 100% 100%;
    transform: translateY(-0.15em);
} */

.contact-us-section {
    position: relative;
    background: url('./assets/imgs/contact.jpg') no-repeat center center/cover;
    padding: 5rem 0;
    color: #ffffff;
}

.contact-us-section .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 1;
}

.contact-us-section .container {
    position: relative;
    z-index: 2;
}


.contact-title h2 {
    font-size: var(--title-size);
    margin-bottom: 1rem;
}

.contact-title p {
    font-size: 1.3rem;
    margin-bottom: 30px;
}


.contact-info {
    color: #ffffff;
}

.contact-item {
    margin-bottom: 20px;
}

.contact-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: inherit;
}

.contact-link i {
    font-size: 24px;
    padding: 15px;
    border-radius: 50%;
    color: var(--main-color, #007bff);
    background-color: #ffffff;
    margin-right: 20px;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-link:hover i {
    color: var(--second-color);
}

.info {
    font-size: 16px;
}

.title {
    font-size: 18px;
    margin-bottom: 0;
    font-weight: 500;
}

/* Responsive Adjustments */
@media (max-width: 678px) {
    .contact-link {
        /* flex-direction: column; */
        align-items: flex-start;
    }

    .contact-link i {
        margin-bottom: 10px;
    }

    .contact-title h2 , .service-section h2 {
        font-size: var(--title-responsive);
    }
    .contact-title p {
        font-size: var(--p-responsive);
    }
}


.contact-form {
    background: #ffffff;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.contact-form h3 {
    color: #302f2f;
    margin-bottom: 15px;
}

.contact-form input, 
.contact-form textarea {
    background: none;
    border: none;
    border-bottom: 2px solid #a8a8a8;
    border-radius: 0;
    outline: none;
    box-shadow: none;
    font-size: 16px;
    padding-left: 0;
}


.contact-form input::placeholder, 
.contact-form textarea::placeholder {
    color: #aaa;
}

.contact-form button {
    background: var(--main-color);
    width: 100%;
    color: var(--text-color);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    transition: background 0.3s ease;
}

.contact-form button:hover {
    background: var(--second-color);
}

/* Responsive Design */
@media (max-width: 991px) {
    .contact-form {
        text-align: center;
    }

    .contact-info ul {
        text-align: left;
    }
}



/* footer */
.Ufooter {
    height: fit-content;
    width: 100%;
    background-color: var(--main-color);
}

.foot-social{
    width: 30%;
    margin: auto;
    color: var(--text-color);
}
.foot-social i{
    color: var(--text-color);
}

.sections{
    margin: 15px 0;
}

.sections li a{
    all:unset;
    color: var(--text-color);
    margin:10px;
    cursor: pointer;
}
.sections li a:hover{
    color: #f8a000;
}
.sections li {
    all:unset;
}
.copyright{
    color: var(--text-color);
    width: fit-content;
    margin:15px auto;
}

@media(max-width:600px){
    .copyright{
        font-size: 14px;
    }
}

.modal-header {
    border-bottom: none !important;
}

.modal-body {
    border: none !important; 
    font-size: 1.4rem !important;
    text-align: center !important;
    color: var(--main-color);
    margin: 0; 
    padding-bottom: 0 !important;
}

.modal-footer {
    border-top: none !important;
    padding-top: 0 !important;
}

#modalMessage {
    margin-bottom: 0 !important;
}
